<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BAR" connectionString="Data Source=WKDS289D\SQLEXPRESS;Initial Catalog=BAR;Integrated Security=True" />
    <add name="ProyectoStandard.Properties.Settings.ProyectoStandardConnectionString"
      connectionString="Data Source=WKDS289D\SQLEXPRESS;Initial Catalog=ProyectoStandard;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ProyectoStandard.Properties.Settings.BARConnectionString"
      connectionString="Data Source=WKDS289D\SQLEXPRESS;Initial Catalog=BAR;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>